h2 {
	color:#3B0B0B;
}

.lista {
	border:3px solid brown;
}

#contenedor {
	border :1px dashed blue;
	font-size:14px;
	font-family: Tahoma, Arial, Sans-serif;
	font-weight: bold;
	font:bold 12px Arial, Tahoma,Sans-serif;
}

/* algunos atributos para usar.
color,border,font,border-radius,margin,padding,box-shadow,text-align,width,heigt.
*/

#header {
	position: left;
	top: -10px;
	background-color: #F5D0A9;
	border-top-left-radius: 15px;
	border-top-right-radius: 25px;
}

#navbar {
	position: left;
	top:10px;
	left:10%;
	margin-left:-5px;
}

#height {
	width:2000px;
	height:50px;
	font-family:impact;
}


/*
pseudo clases: hover, focus,visited;
*/

/*
hover hara cambios sobre la clase, cuando el mouse este sobre 
el elemento
*/

.imagen:hover {
	border:3px dashed red;
}

/*
Focus hara que en el momento que se esta haciendo la accion 
el elemento tenga un cambio especifico.
*/

.campo {
	border:1px solid gray;
	foint: normal 12px tahoma,arial;
}

.campo focus {
	border:1px solid gray;
	foint: bold 12px tahoma,arial;
	outline:none;
}
/*
visited hara cambios en enlaces cuando ya hayan sido visitados
previamente.
*/
a {
	font:normal 16px Arial;
}

a:visited {
	color:orange;
}
