h2 {
	color:red;
}

.lista {
	border:1px solid blue;
}

#contenedor {
	border :1px dashed blue;
	font-size:12px;
	font-family: Tahoma, Arial, Sans-serif;
	font-weight: bold;
	font:bold 12px Arial, Tahoma,Sans-serif;
}

/* algunos atributos para usar.
color,border,font,border-radius,margin,padding,box-shadow,text-align,width,heigt.
*/

#header {
	position: left;
	top: -50px;
	background-color: blue;
	border-top-left-radius: 15px;
	border-top-right-radius: 25px;
}

#navbar {
	position: left;
	top:10px;
	left:50%;
	margin-left:-5px;
}

#height {
	width:200px;
	height:100px;
}


/*
pseudo clases: hover, focus,visited;
*/

/*
hover hara cambios sobre la clase, cuando el mouse este sobre 
el elemento
*/

.imagen:hover {
	border:3px dashed red;
}

/*
Focus hara que en el momento que se esta haciendo la accion 
el elemento tenga un cambio especifico.
*/

.campo {
	border:1px solid gray;
	foint: normal 12px tahoma,arial;
}

.campo focus {
	border:1px solid gray;
	foint: bold 12px tahoma,arial;
	outline:none;
}
/*
visited hara cambios en enlaces cuando ya hayan sido visitados
previamente.
*/
a {
	font:normal 16px Arial;
}

a:visited {
	color:orange;
}
